<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
     <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">My website</title>

  
 	<th:block th:replace="../fragments/includes  :: css"></th:block>
   
  </head>

  <body>
  	 
    
    <th:block th:replace="../fragments/includes  :: menu">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </th:block>
    
    <th:block th:replace="../fragments/includes :: header">
    Bienvenue
    </th:block>
    
    <section layout:fragment="content">
    	<header>
    		Premier article
    	</header>
    	<article>
    		Le contenu de mon article
    	</article>
    	<footer>
    		auteur : moi
    	</footer>
    </section>
      
   
    
    <th:block th:replace="../fragments/includes  :: footer">
    footer
    </th:block>
           
  <th:block th:replace="../fragments/includes  :: js"></th:block>
           
   
  </body>
</html>
