<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="../layout/standard" xmlns:th="http://www.thymeleaf.org">

<head> 
</head>

<body>	
 <section layout:fragment="content">
    	<header>
    		<h1>Premier article personnalisé</h1>
    		<a href="#" id="getdata-button">Get JSON Data</a>
    		<div id="showdata"></div>
    	</header>
    	<article>
    	 <form action="/mowitnow"  method="post">
    	<p>Id: <textarea name="data" ></textarea></p>       
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    		Le contenu de mon article personnalisé
    		la liste des projets :
    		<table>
    			 <tbody>    			 
					<tr th:each="project,rowStat : ${projects}">
       					<td>
       						<span th:text="${project.name}"></span><br/>
       						---------------------------------------
							<table>													
									<tr th:each="task,rowStat1 : ${project.tasks}">
       									<td>
       										<span th:text="${task.name}"></span>
<!--        										<ul th:each="utask,rowStat1 : ${task.userTasks}"> -->
<!--        											<li th:text="${utask.user.firstName}"></li> -->
<!--        										</ul> -->
       									</td>
									</tr>
    						</table>
    					</td>
					</tr>
					
     			</tbody>
    			</table>
    	
    	</article>
    	<footer>
    		<i>auteur : moi personnalisé</i>
    	</footer>
    </section>
</body>

</html>
